openapi: 3.2.0
info:
  title: Cash App API
  version: 1.0.0
  description: 'Operations tagged  across 9 of this provider''s published API definitions: cash-app-billing-agreements-deprecated-openapi.json, cash-app-checkouts-openapi.json, cash-app-configuration-openapi.json, cash-app-disputes-openapi.json, cash-app-grants-afterpay-openapi.json, cash-app-grants-cash-app-pay-openapi.json, cash-app-orders-openapi.json, cash-app-payments-openapi.json, cash-app-service-status-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://global-api-sandbox.afterpay.com
  description: Sandbox
- url: https://global-api.afterpay.com
  description: Production
tags:
- name: ''
paths:
  /v2/billing-agreements/approvals:
    post:
      operationId: start-billing-agreement-approval
      summary: Start Billing Agreement Approval Process
      description: 'Initiates the approval process for a new billing agreement.


        *Deprecated. For new integrations, see [Grants](https://afterpay.docs.buildwithfern.com/afterpay-online-developer/api-reference/reference/grants/start-grant-approval).*'
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: The consumer approved the billing agreement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAgreementApprovalResponse'
        '401':
          description: 'Authentication failed or insufficient permissions.


            | errorCode | Description |

            | --- | --- |

            | unauthorized | The API credentials are invalid or missing. |

            | insufficient_permissions | The merchant lacks the required ''merchant_api_v2/initiate'' permission. |

            '
          content:
            application/json:
              schema:
                description: Any type
        '403':
          description: '| errorCode | Description |

            | --- | --- |

            | billing_agreement_not_authorised | Recurring payments are not enabled for this merchant. |

            '
          content:
            application/json:
              schema:
                description: Any type
        '415':
          description: Unsupported Media Type - Content-Type header is missing or invalid
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: '| errorCode | Description |

            | --- | --- |

            | invalid_object | One or more required fields in the request body were missing or invalid. |

            '
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        description: The billing agreement approval request details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingAgreementApprovalRequest'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/billing-agreements:
    post:
      operationId: create-billing-agreement
      summary: Create Billing Agreement
      description: 'Creates a new billing agreement from an order token.


        *Deprecated. For new integrations, see [Grants](https://afterpay.docs.buildwithfern.com/afterpay-online-developer/api-reference/reference/grants/start-grant-approval).*

        '
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: Billing agreement created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAgreementResponse'
        '403':
          description: '| errorCode | Description |

            | --- | --- |

            | billing_agreement_not_authorised | Recurring payments are not enabled for this merchant. |

            | headless_billing_agreement_not_authorised | Headless flow is not enabled for this merchant. |

            '
          content:
            application/json:
              schema:
                description: Any type
        '412':
          description: '| errorCode | Description |

            | --- | --- |

            | consumer_ineligible | Consumer not eligible |

            '
          content:
            application/json:
              schema:
                description: Any type
        '415':
          description: Unsupported Media Type - Content-Type header is missing or invalid
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        description: The request containing the details needed to create a billing agreement
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgreementRequest'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/billing-agreements/alias:
    post:
      operationId: alias-billing-agreement
      summary: Create Billing Agreement Alias
      description: 'Creates an alias for an existing billing agreement to help load payment schedule widget.


        *Deprecated. For new integrations, see [Grants](https://afterpay.docs.buildwithfern.com/afterpay-online-developer/api-reference/reference/grants/start-grant-approval).*'
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: Alias created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAgreementAliasResponse'
        '403':
          description: '| errorCode | Description |

            | --- | --- |

            | billing_agreement_not_authorised | Recurring payments are not enabled for this merchant. |

            '
          content:
            application/json:
              schema:
                description: Any type
        '415':
          description: Unsupported Media Type - Content-Type header is missing or invalid
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        description: The request containing the billing agreement token and optional duration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingAgreementAliasRequest'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/billing-agreements/cancel:
    put:
      operationId: cancel-billing-agreement-alt
      summary: Cancel Billing Agreement (Alternative)
      description: 'Alternative endpoint to cancel a billing agreement using a request body instead of path parameter.

        Functionally equivalent to DELETE /v2/billing-agreements/{token}.


        *Deprecated. For new integrations, see [Grants](https://afterpay.docs.buildwithfern.com/afterpay-online-developer/api-reference/reference/grants/start-grant-approval).*'
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: Billing agreement cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAgreementResponse'
        '403':
          description: '| errorCode | Description |

            | --- | --- |

            | billing_agreement_not_authorised | Recurring payments are not enabled for this merchant. |

            '
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: '| errorCode | Description |

            | --- | --- |

            | billing_agreement_not_found | The specified billing agreement token was not found. |

            '
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        description: The request containing the billing agreement token to cancel
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelBillingAgreementRequest'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/billing-agreements/offers:
    post:
      operationId: retrieve-billing-agreement-offers
      summary: Retrieve Billing Agreement Offers
      description: 'Retrieves available offers for billing agreements based on amount and frequency.


        *Deprecated. For new integrations, see [Grants](https://afterpay.docs.buildwithfern.com/afterpay-online-developer/api-reference/reference/grants/start-grant-approval).*'
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: Offers retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OffersResponse'
        '401':
          description: 'Authentication failed or insufficient permissions.


            | errorCode | Description |

            | --- | --- |

            | unauthorized | The API credentials are invalid or missing. |

            '
          content:
            application/json:
              schema:
                description: Any type
        '403':
          description: '| errorCode | Description |

            | --- | --- |

            | billing_agreement_not_authorised | Recurring payments are not enabled for this merchant. |

            '
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: '| errorCode | Description |

            | --- | --- |

            | invalid_object | One or more required fields in the request body were missing or invalid. |

            '
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        description: The request containing the amount and billing agreement token to check offers for
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OffersRequest'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/billing-agreements/retrieve:
    post:
      operationId: retrieve-billing-agreement
      summary: Retrieve Billing Agreement
      description: 'Alternative endpoint to retrieve billing agreement details using a request body instead of path parameter.

        Functionally equivalent to GET /v2/billing-agreements/{token}.


        *Deprecated. For new integrations, see [Grants](https://afterpay.docs.buildwithfern.com/afterpay-online-developer/api-reference/reference/grants/start-grant-approval).*'
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Billing agreement details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAgreementResponse'
        '403':
          description: '| errorCode | Description |

            | --- | --- |

            | billing_agreement_not_authorised | Recurring payments are not enabled for this merchant. |

            '
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: '| errorCode | Description |

            | --- | --- |

            | billing_agreement_not_found | The specified billing agreement token was not found. |

            '
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        description: The request containing the billing agreement token to retrieve
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBillingAgreementRequest'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/billing-agreements/start:
    post:
      operationId: start-billing-agreement-link
      summary: Start Billing Agreement Link Flow
      description: 'Initiates the headless billing agreement link flow process.


        *Deprecated. For new integrations, see [Grants](https://afterpay.docs.buildwithfern.com/afterpay-online-developer/api-reference/reference/grants/start-grant-approval).*'
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '201':
          description: Link flow started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkStartResponse'
        '404':
          description: '| errorCode | Description |

            | --- | --- |

            | not_found | Afterpay consumer account does not exist |

            '
          content:
            application/json:
              schema:
                description: Any type
        '412':
          description: '| errorCode | Description |

            | --- | --- |

            | invalid_state | Failed to send code |

            '
          content:
            application/json:
              schema:
                description: Any type
        '429':
          description: '| errorCode | Description |

            | --- | --- |

            | too_many_requests | Too many requests |

            '
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        description: The request containing the details needed to start the billing agreement link flow
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkStartRequest'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/billing-agreements/{token}:
    get:
      operationId: get-billing-agreement
      summary: Get Billing Agreement Details
      description: 'Retrieves the details of a billing agreement using its token.


        *Deprecated. For new integrations, see [Grants](https://afterpay.docs.buildwithfern.com/afterpay-online-developer/api-reference/reference/grants/start-grant-approval).*'
      tags:
      - ''
      parameters:
      - name: token
        in: path
        description: The unique identifier token of the billing agreement to retrieve
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Billing agreement details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAgreementResponse'
        '403':
          description: '| errorCode | Description |

            | --- | --- |

            | billing_agreement_not_authorised | Recurring payments are not enabled for this merchant. |

            '
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: '| errorCode | Description |

            | --- | --- |

            | billing_agreement_not_found | The specified billing agreement token was not found. |

            '
          content:
            application/json:
              schema:
                description: Any type
    delete:
      operationId: cancel-billing-agreement
      summary: Cancel Billing Agreement
      description: 'Cancels an existing billing agreement using its token.


        *Deprecated. For new integrations, see [Grants](https://afterpay.docs.buildwithfern.com/afterpay-online-developer/api-reference/reference/grants/start-grant-approval).*'
      tags:
      - ''
      parameters:
      - name: token
        in: path
        description: The unique identifier token of the billing agreement to cancel
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Billing agreement cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAgreementResponse'
        '403':
          description: '| errorCode | Description |

            | --- | --- |

            | billing_agreement_not_authorised | Recurring payments are not enabled for this merchant. |

            '
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: '| errorCode | Description |

            | --- | --- |

            | billing_agreement_not_found | The specified billing agreement token was not found. |

            '
          content:
            application/json:
              schema:
                description: Any type
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/recurring-payments:
    post:
      operationId: capture-full-recurring-payment
      summary: Capture Full Recurring Payment
      description: 'Creates and immediately captures a recurring payment using a billing agreement token.

        This endpoint combines authorization and capture into a single step.


        *Deprecated. For new integrations, see [Grants](https://afterpay.docs.buildwithfern.com/afterpay-online-developer/api-reference/reference/grants/start-grant-approval).*'
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '201':
          description: '| Status | Description |

            | ----- | ----- |

            | `APPROVED` | If payment is approved by Afterpay, returns a Payment object in response, with a status of "APPROVED". |

            | `DECLINED` | If payment is declined by Afterpay, for example, if expired payment method, returns a Payment object in response, with a status of "DECLINED". Please advise the consumer to contact the Afterpay Customer Service team for more information. |

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '402':
          description: 'If payment is declined by Afterpay, for example, if invalid card details were entered, returns a Payment object in response, with a `status` of "DECLINED" and a `paymentState` of "AUTH_DECLINED". Please advise the consumer to contact the Afterpay Customer Service team for more information.


            As well, the following errorCodes are possible:

            | errorCode | Description |

            | --- | --- |

            | invalid_token | The checkout token is invalid, expired, or does not exist.

            '
          content:
            application/json:
              schema:
                description: Any type
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: '| errorCode | Description |

            | --- | --- |

            | invalid_object             | One or more required fields were missing or invalid.                     |

            | unsupported_payment_type   | The amount is outside of the merchant''s payment limits, as returned by Get Configuration. |

            | unsupported_currency       | The amount is outside of the merchant''s payment limits, as returned by Get Configuration. |

            '
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        description: The request containing the payment details to process
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecurringPaymentRequest'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/recurring-payments/auth:
    post:
      operationId: auth
      summary: Authorize Recurring Payment
      description: 'Authorizes a recurring payment using a billing agreement token.

        This endpoint performs authorization only, requiring a separate capture step.


        *Deprecated. For new integrations, see [Grants](https://afterpay.docs.buildwithfern.com/afterpay-online-developer/api-reference/reference/grants/start-grant-approval).*'
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '201':
          description: If the payment is approved by Afterpay, a Payment object is returned with a `status` of **APPROVED** and a `paymentState` of **AUTH_APPROVED**.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAuth'
        '402':
          description: 'If payment is declined by Afterpay, for example, if invalid card details were entered, returns a Payment object in response, with a `status` of "DECLINED" and a `paymentState` of "AUTH_DECLINED". Please advise the consumer to contact the Afterpay Customer Service team for more information.


            As well, the following errorCodes are possible:

            | errorCode | Description |

            | --- | --- |

            | invalid_token | The checkout token is invalid, expired, or does not exist.

            '
          content:
            application/json:
              schema:
                description: Any type
        '412':
          description: '| errorCode | Description |

            | --- | --- |

            |npuf_eligibility_mismatch|Npuf eligibility mismatch|

            '
          content:
            application/json:
              schema:
                description: Any type
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: '| errorCode | Description |

            | --- | --- |

            | invalid_object             | One or more required fields were missing or invalid.                     |

            | unsupported_payment_type   | The amount is outside of the merchant''s payment limits, as returned by Get Configuration. |

            | unsupported_currency       | The amount is outside of the merchant''s payment limits, as returned by Get Configuration. |

            '
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        description: The request containing the payment details to authorize
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecurringPaymentRequest'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/checkouts:
    post:
      operationId: create-checkout-1
      summary: Create Checkout
      description: 'The `checkouts` endpoint is responsible for creating a new checkout and returning the associated checkout token.

        '
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '201':
          description: Returns a token, expiry date/time, and checkout URL if successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checkout-Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: '| errorCode | Description |

            | --- | --- |

            | invalid_object | One or more required fields were missing or invalid. |

            | unsupported_payment_type | The `amount` is outside of the merchant''s payment limits, as returned by GET Configuration. |

            | unsupported_currency | One or more Money objects contained a currency that differs from the merchant''s account currency. |

            '
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Checkout-Request'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/checkouts/{token}:
    get:
      operationId: get-checkout
      summary: Get Checkout
      description: 'This endpoint retrieves an incomplete individual checkout by token.


        Checkout details are only retained in this temporary format for up to 60 minutes. If a checkout token expires or has an order created against it, it can no longer be retrieved from this endpoint.

        To retrieve a [Payment](../docs/ONLINE-API/Payment-object.md) record (Afterpay Order) along with its associated checkout details, see Get Payment By Token.

        '
      tags:
      - ''
      parameters:
      - name: token
        in: path
        description: The token of the checkout to be retrieved.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: 'Returns an object combining the [Checkout Request](reference/Checkouts.v2.yaml/components/schemas/Checkout-Request) and [Checkout Response](reference/Checkouts.v2.yaml/components/schemas/Checkout-Response) for a provided token.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-checkout_Response_200'
        '404':
          description: No checkout token was provided.
          content:
            application/json:
              schema:
                description: Any type
        '412':
          description: The checkout token is invalid, expired, completed, or does not exist.
          content:
            application/json:
              schema:
                description: Any type
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/configuration:
    get:
      operationId: get-configuration
      summary: Get Configuration
      description: 'Use this endpoint to retrieve the merchant''s applicable payment limits.


        A request to [Create Checkout](Checkouts.v2.yaml/paths/~1v2~1checkouts/post) may be rejected if the order amount is not between the `minimumAmount` and `maximumAmount` (inclusive).


        Afterpay merchant configuration does not change frequently. For this reason, the configuration response includes Cache-Control headers to minimise network round trips when using a modern HTTP client. You should call Get Configuration on a fixed schedule, preferably once per day.


        **Connection Timeouts**

        | Timeout | Time (Seconds) |

        |---------|----------------|

        | Open    | 10             |

        | Read    | 20             |


        **Example request**


        `GET /v2/configuration?include=publicid&include=consumerlending&include=paybyinstallment`'
      tags:
      - ''
      parameters:
      - name: include
        in: query
        description: 'Repeat this query parameter to include optional configuration fields in the response. The endpoint always returns `minimumAmount` and `maximumAmount`.


          Supported values:

          - `publicid`: include `publicId`, the merchant public identifier (MPID) when one exists.

          - `consumerlending`: include `consumerLending`, which indicates whether consumer lending is enabled and, when enabled, the eligible minimum and maximum order amounts.

          - `paybyinstallment`: include `payByInstallment`, the configured pay by installment minimum and maximum eligible order amounts.'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: 'Returns a [configuration](../reference/Configuration.v2.yaml/components/schemas/Merchant-limit) object containing the following attributes.

            | Attribute | Type           | Description |

            |-----------|----------------| ----------- |

            | `minimumAmount`    | Money    | Minimum order amount. Note: This attribute may not be included if the Merchant account has no minimum order amount.

            | `maximumAmount`    | Money    | Maximum order amount.

            | `publicId`    | string    | Merchant public identifier (MPID). Returned when `include=publicid` is requested and a public mapping exists for the merchant.

            | `consumerLending`    | object    | Returned when `include=consumerlending` is requested. Contains `enabled` and, when enabled, `minimumAmount` and `maximumAmount` for consumer lending.

            | `payByInstallment`    | object    | Returned when `include=paybyinstallment` is requested and pay by installment is configured for the merchant. Contains `minimumAmount` and `maximumAmount`.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant-limit'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-configurationRequestUnauthorizedError'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/configuration/mappings:
    get:
      operationId: get-configuration-mappings
      summary: Get Configuration Mappings
      description: To set-up Cash App Pay on file, use this endpoint to retrieve your Cash App Pay brand ID.
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: Accept
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationMappings'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-configuration-mappingsRequestUnauthorizedError'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-configuration-mappingsRequestForbiddenError'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/disputes:
    get:
      operationId: retrieve-dispute
      summary: Retrieve Dispute
      description: 'List disputes within a date range based on certain criteria. This endpoint can be used for debugging or synchronizing the disputes from Afterpay if/when you are unable to use the webhook method.

        '
      tags:
      - ''
      parameters:
      - name: order
        in: query
        description: Payment or Order token using which you can filter the list.
        required: false
        schema:
          type: integer
      - name: merchant
        in: query
        description: Merchant token using which you can filter the list.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: Dispute status using which you can filter the list.
        required: false
        schema:
          type: string
      - name: openedAfter
        in: query
        description: Filter disputes that were created on or after this timestamp (inclusive).
        required: false
        schema:
          type: string
          format: date-time
      - name: openedBefore
        in: query
        description: Filter disputes that were created on or before this timestamp (inclusive).
        required: false
        schema:
          type: string
          format: date-time
      - name: offset
        in: query
        description: Offset for the search results.
        required: false
        schema:
          type: integer
      - name: limit
        in: query
        description: The maximum number of records that you want returned from this request.
        required: false
        schema:
          type: integer
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retrieve-dispute_Response_200'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/disputes/{dispute_id}:
    get:
      operationId: receive-dispute
      summary: Receive Dispute
      description: Get detailed information about a dispute.
      tags:
      - ''
      parameters:
      - name: dispute_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: application/json
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dispute'
    post:
      operationId: respond-to-dispute
      summary: Respond to Dispute
      description: 'The Respond to the Dispute endpoint allows a merchant to submit evidence for the dispute. This is only allowed if the dispute is the state `needs_response`.


        Merchants only have one opportunity to submit evidence. Once a 200 response is received, this information cannot be updated or changed.'
      tags:
      - ''
      parameters:
      - name: dispute_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: application/json
        required: false
        schema:
          type: string
      responses:
        '200':
          description: When successful, returns the updated dispute object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dispute'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: A unique ID given to a dispute.
                evidence:
                  $ref: '#/components/schemas/evidence'
                  description: Evidence for the dispute. Note that there should be at least one valid field.
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/disputes/{dispute_id}/accept:
    get:
      operationId: accept-dispute
      summary: Accept Dispute
      description: 'Merchants can call this endpoint to accept a dispute case. The endpoint only works if the dispute is in a non-terminal state (the status is not `won` or `lost`).


        > **Note:** Calling the API changes the dispute status to lost.'
      tags:
      - ''
      parameters:
      - name: dispute_id
        in: path
        required: true
        schema:
          type: string
      - in: query
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: application/json
        required: false
        schema:
          type: string
      responses:
        '200':
          description: If successful, returns the updated dispute object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dispute'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/disputes/files:
    post:
      operationId: upload-file
      summary: Upload File
      description: Use this endpoint to upload files for disputes.
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: application/json
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Indicates a successful file upload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/upload-file_Response_200'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  description: The file you want to upload.
                fileType:
                  type: string
                  description: The type of file. Only `dispute_evidence` is supported.
              required:
              - file
              - fileType
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/disputes/files/{id}:
    get:
      operationId: retrieve-file
      summary: Retrieve file
      description: Use this endpoint to retrieve files for disputes.
      tags:
      - ''
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: query
        description: ID of the file to be retrieved.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: application/json
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Indicates that the file has been retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retrieve-file_Response_200'
        '401':
          description: Unauthorized. Invalid merchant credentials.
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not Found. The corresponding entity can't be found for the merchant.
          content:
            application/json:
              schema:
                description: Any type
        '412':
          description: Precondition Failed. Invalid action for the dispute case, or the refund amount is larger than the refundable amount.
          content:
            application/json:
              schema:
                description: Any type
        '413':
          description: Request Entity Too Large. The uploaded file is too large. It must be less than 10 MB.
          content:
            application/json:
              schema:
                description: Any type
        '415':
          description: 'Unsupported Media Type. Afterpay does not support the filetype of the uploaded file. It must be: GIF, PDF, JPEG, or PNG.'
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: Unprocessable Entity. Invalid parameter in the Dispute API request.
          content:
            application/json:
              schema:
                description: Any type
        '429':
          description: Too Many Requests. Too many requests in a short period of time, retry later.
          content:
            application/json:
              schema:
                description: Any type
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/grants/approvals:
    post:
      operationId: start-grant-approval
      summary: Create Grant Approval
      description: 'Initiates the approval process for a new grant.

        '
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrantApprovalResponse'
        '401':
          description: 'Authentication failed or insufficient permissions.


            | errorCode | Description |

            | --- | --- |

            | unauthorized | The API credentials are invalid or missing. |

            | insufficient_permissions | The merchant lacks the required ''merchant_api_v2/initiate'' permission. |

            '
          content:
            application/json:
              schema:
                description: Any type
        '403':
          description: '| errorCode | Description |

            | --- | --- |

            | feature_not_enabled | On file payments are not enabled for this merchant. |

            '
          content:
            application/json:
              schema:
                description: Any type
        '415':
          description: Unsupported Media Type - Content-Type header is missing or invalid
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: '| errorCode | Description |

            | --- | --- |

            | invalid_object | One or more required fields in the request body were missing or invalid. |

            '
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantApprovalRequest'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/grants:
    post:
      operationId: create-grant
      summary: Create Grant
      description: "Creates a new grant from a grant approval token. \n"
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrantResponse'
        '403':
          description: '| errorCode | Description |

            | --- | --- |

            | feature_not_enabled | On file payments are not enabled for this merchant. |

            '
          content:
            application/json:
              schema:
                description: Any type
        '412':
          description: '| errorCode | Description |

            | --- | --- |

            | consumer_ineligible | Consumer not eligible |

            '
          content:
            application/json:
              schema:
                description: Any type
        '415':
          description: Unsupported Media Type - Content-Type header is missing or invalid
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGrantRequest'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/grants/{grantId}:
    get:
      operationId: get-grant
      summary: Retrieve Grant
      description: 'Retrieves a grant by its ID.

        '
      tags:
      - ''
      parameters:
      - name: grantId
        in: path
        description: ID of the grant to retrieve.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrantResponse'
        '403':
          description: '| errorCode | Description |

            | --- | --- |

            | feature_not_enabled | On file payments are not enabled for this merchant. |

            '
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: '| errorCode | Description |

            | --- | --- |

            | grant_not_found | The specified grant id was not found. |

            '
          content:
            application/json:
              schema:
                description: Any type
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/grants/{grantId}/revoke:
    post:
      operationId: revoke-grant
      summary: Revoke Grant
      description: 'Revokes a grant, rendering it unusable. Other endpoints will no longer be able to use the grant to perform its associated action.

        '
      tags:
      - ''
      parameters:
      - name: grantId
        in: path
        description: The unique identifier id of the grant to revoke
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrantResponse'
        '403':
          description: '| errorCode | Description |

            | --- | --- |

            | feature_not_enabled | On file payments are not enabled for this merchant. |

            '
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: '| errorCode | Description |

            | --- | --- |

            | grant_not_found | The specified grant was not found. |

            '
          content:
            application/json:
              schema:
                description: Any type
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/grants/alias:
    post:
      operationId: alias-grant
      summary: Create Grant Alias
      description: 'Creates an alias for an existing grant to help load the payment schedule widget.

        '
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrantAliasResponse'
        '403':
          description: '| errorCode | Description |

            | --- | --- |

            | feature_not_enabled | On file payments are not enabled for this merchant. |

            '
          content:
            application/json:
              schema:
                description: Any type
        '415':
          description: Unsupported Media Type - Content-Type header is missing or invalid
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantAliasRequest'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/grants/start:
    post:
      operationId: start-billing-agreement-link
      summary: Start Grant Link Flow
      description: 'Initiates the headless grant link flow process.

        '
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrantStartResponse'
        '404':
          description: '| errorCode | Description |

            | --- | --- |

            | not_found | Afterpay consumer account does not exist |

            '
          content:
            application/json:
              schema:
                description: Any type
        '412':
          description: '| errorCode | Description |

            | --- | --- |

            | invalid_state | Failed to send code |

            '
          content:
            application/json:
              schema:
                description: Any type
        '429':
          description: '| errorCode | Description |

            | --- | --- |

            | too_many_requests | Too many requests |

            '
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantStartRequest'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/grants/retrieve:
    post:
      operationId: retrieve-grant
      summary: Retrieve Grant
      description: Retrieves a Cash App Pay customer grant by the ID of the customer that approved it and its own ID.
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: Accept
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retrieve-grant_Response_200'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Retrieve-grantRequestUnauthorizedError'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Retrieve-grantRequestForbiddenError'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveGrantRequest'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/grants/revoke:
    post:
      operationId: revoke-grant
      summary: Revoke Grant
      description: Revokes a Cash App Pay customer grant by the ID of the customer that approved it and its own ID.
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: Accept
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/revoke-grant_Response_200'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Revoke-grantRequestUnauthorizedError'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Revoke-grantRequestForbiddenError'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveGrantRequest'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/orders:
    post:
      operationId: create-grant
      summary: Create Order
      description: 'This is the first step in the on file grant purchase process. Use the token in the response to initiate the payment

        '
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: '| errorCode | Description |

            | --- | --- |

            | invalid_object             | One or more required fields were missing or invalid.                     |

            | unsupported_payment_type   | The amount is outside of the merchant''s payment limits, as returned by Get Configuration. |

            | unsupported_currency       | The amount is outside of the merchant''s payment limits, as returned by Get Configuration. |

            '
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/payments:
    get:
      operationId: list-payments
      summary: List Payments
      description: 'This endpoint retrieves a collection of payments along with their order details.


        **Connection Timeouts**

        | Timeout | Time (Seconds) |

        |---------|----------------|

        | Open    | 10             |

        | Read    | 20             |

        '
      tags:
      - ''
      parameters:
      - name: toCreatedDate
        in: query
        description: An inclusive end date and time to search, in [ISO 8601](http://www.iso.org/iso/home/standards/iso8601.htm) format.
        required: false
        schema:
          type: string
          default: '2020-12-30'
      - name: fromCreatedDate
        in: query
        description: An inclusive start date and time to search, in [ISO 8601](http://www.iso.org/iso/home/standards/iso8601.htm) format.
        required: false
        schema:
          type: string
          default: '2020-01-01'
      - name: tokens
        in: query
        description: One or more order tokens to search for.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: includeNextLink
        in: query
        description: Returns a modified pagination object which includes a URL to return the next page. The default value is false.
        required: false
        schema:
          type: boolean
          default: false
      - name: ids
        in: query
        description: One or more Afterpay Order IDs to search for.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: merchantReferences
        in: query
        description: One or more Merchant Reference IDs to search for.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: statuses
        in: query
        description: One or more Afterpay Order Statuses to search for. Possible values include "APPROVED" and "DECLINED".
        required: false
        schema:
          type: array
          items:
            type: string
      - name: orderBy
        in: query
        description: A field to order results by. If provided, must be one of "createdAt", "id", "totalAmount", "merchantReference" or "email".
        required: false
        schema:
          type: string
          default: createdAt
      - name: ascending
        in: query
        description: '`true` to order results in ascending order, or `false` for descending order.'
        required: false
        schema:
          type: boolean
          default: false
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: Returns the matching Payment objects, enclosed in a Pagination object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-payments_Response_200'
        '422':
          description: An invalid query parameter was provided. For example, a value for `limit` was provided, but was less than 1 or more than 250. Error code `error`.
          content:
            application/json:
              schema:
                description: Any type
        '500':
          description: This is usually caused by sending a `fromCreatedDate` or `toCreatedDate` in an invalid format. Please ensure the dash and colon characters are included, and any plus characters are URL-encoded. Also, for the array parameters (`ids`, `tokens`, `merchantReferences` and `statuses`), do not use comma-separated values or square brackets. Instead, include each parameter multiple times, as needed.
          content:
            application/json:
              schema:
                description: Any type
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/payments/auth:
    post:
      operationId: auth
      summary: Auth
      description: 'This endpoint requests a payment auth, which determines the order approval status. If approved, the auth has an expiration date and time, which is returned in the events list for the "AUTH_APPROVED" payment event. Authorization expires after 13 days.


        This operation is idempotent based on the `requestId` (if provided), which allows for the safe retry of multiple requests, guaranteeing the payment operation is only made once.


        The customer''s payment plan starts at the time of auth approval.


        **Note:** Authorization expires after 13 days and then the transaction is automatically voided. Voided transactions are frozen and cannot be reopened or changed in any way. In this case, use the `v2/checkouts` endpoint to create a new order.


        **Connection Timeouts**

        | Timeout | Time (Seconds) |

        |---------|----------------|

        | Open    | 10             |

        | Read    | 70             |

        '
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '201':
          description: If the payment is approved by Afterpay, a Payment object is returned with a `status` of **APPROVED** and a `paymentState` of **AUTH_APPROVED**.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAuth'
        '402':
          description: 'If payment is declined by Afterpay, for example, if invalid card details were entered, returns a Payment object in response, with a `status` of "DECLINED" and a `paymentState` of "AUTH_DECLINED". advise the customer to contact the Afterpay Customer Service team for more information.


            As well, the following errorCodes are possible:

            | errorCode | Description |

            | --- | --- |

            | invalid_token | The checkout token is invalid, expired, or does not exist.

            '
          content:
            application/json:
              schema:
                description: Any type
        '412':
          description: The customer has not confirmed their payment for the order associated with this token. Error code `invalid_order_transaction_status`.
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: The checkout token was missing or empty. Error code `invalid_object`.
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizePayment'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/payments/capture:
    post:
      operationId: capture-full-payment
      summary: Capture Full Payment
      description: 'This endpoint makes a payment capture for the full value of the payment plan.


        This operation is idempotent based on the token, which allows for the safe retry of requests, guaranteeing the payment operation is only made once.


        Since the idempotency of this endpoint is based on the token, the inclusion of a `requestId` is not required.


        **Connection Timeouts**

        | Timeout | Time (Seconds) |

        |---------|----------------|

        | Open    | 10             |

        | Read    | 70             |

        '
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '201':
          description: '| Status | Description |

            | ----- | ----- |

            | `APPROVED` | If payment is approved by Afterpay, returns a Payment object in response, with a status of "APPROVED". |

            | `DECLINED` | If payment is declined by Afterpay, for example, if invalid card details were entered, returns a Payment object in response, with a status of "DECLINED". Please advise the customer to contact the Afterpay Customer Service team for more information. |

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '402':
          description: The checkout token is invalid, expired, or does not exist. Error code `invalid_token`.
          content:
            application/json:
              schema:
                description: Any type
        '412':
          description: The Consumer has not confirmed their payment for the order associated with this token. Error code `invalid_order_transaction_status`.
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: The checkout token was missing or empty. Error code `invalid_object`.
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: The token returned in the Create Checkout request.
                merchantReference:
                  type: string
                  description: The merchant’s order id/reference that this payment corresponds to. This updates any value previously provided in the Create Checkout request.
                amount:
                  $ref: '#/components/schemas/Money'
                  description: '**Required for express checkout only.** Amount to be checked against the value in the create checkout request. If the amounts do not match, then the request is rejected and an error specific to this scenario is returned. '
                isCheckoutAdjusted:
                  type: boolean
                  description: '**Express checkout only.** The isCheckoutAdjusted field can be used to allow the order amount to be changed after the checkout flow.'
                paymentScheduleChecksum:
                  type: string
                  description: '**Express checkout only.** A unique value representing the payment schedule that must be provided when there have been changes since the initial order creation (retrieved from checkout widget).'
                items:
                  $ref: '#/components/schemas/Item'
                  description: '**Express checkout only.** An array of order items that have been updated. Provide if it has changed since the initial order creation.'
                shipping:
                  $ref: '#/components/schemas/Contact'
                  description: '**Express checkout only.** The shipping address if it has changed since the initial order creation. '
                enrichments:
                  $ref: '#/components/schemas/Enrichments'
                grantId:
                  type: string
                  description: The Afterpay or Cash App Pay on-file grant ID. Required when processing a payment using a previously stored on-file grant.
              required:
              - token
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/payments/{orderId}:
    get:
      operationId: get-payment-by-order-id
      summary: Get Payment By Order ID
      description: 'This endpoint retrieves an individual payment along with its order details.


        **Connection Timeouts**

        | Timeout | Time (Seconds) |

        |---------|----------------|

        | Open    | 10             |

        | Read    | 20             |

        '
      tags:
      - ''
      parameters:
      - name: orderId
        in: path
        description: The unique ID of the Afterpay Order, for which a Payment event has been completed.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: Returns a Payment object in response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '404':
          description: No Afterpay Order was found matching the `orderId` provided. Error code `not_found`.
          content:
            application/json:
              schema:
                description: Any type
    put:
      operationId: update-payment-by-order-id
      summary: Update Payment by Order ID
      description: This endpoint is to create merchant side order ID's following the Afterpay order ID creation. Call the endpoint immediately after the Afterpay order is created.
      tags:
      - ''
      parameters:
      - name: orderId
        in: path
        description: The Order ID to update
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '201':
          description: Returns object containing the following attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-payment-by-order-id_Response_201'
        '404':
          description: The Afterpay payment ID to update was not found. Error code `not_found`.
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                merchantReference:
                  type: string
                  default: new_merchant_order_id_1234
                  description: The merchant’s new order ID to replace with
              required:
              - merchantReference
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/payments/{orderId}/capture:
    post:
      operationId: capture-payment
      summary: Capture Payment
      description: 'This endpoint captures a full or partial payment. Any amounts successfully captured are settled from Afterpay to the merchant''s nominated bank account on the following day. Records of all payments captured against an order are returned in the events list as events of type, "CAPTURED".


        **Note:** Authorization expires after 13 days and then the transaction is automatically voided. Voided transactions are frozen and cannot be captured, reopened or changed in any way. In this case your only option is to use the v2/checkouts endpoint to create a new order.


        This operation is idempotent based on the `requestId` (if provided), which allows the safe retry of multiple requests. This safe retry guarantees the payment operation only occurs once.


        **Connection Timeouts**

        | Timeout | Time (Seconds) |

        |---------|----------------|

        | Open    | 10             |

        | Read    | 70             |

        '
      tags:
      - ''
      parameters:
      - name: orderId
        in: path
        description: The unique ID of the Afterpay Order, returned as the `id` property of the Auth response.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '201':
          description: If successful, returns an updated copy of the Payment object, with the newly captured payment appended to the `events` array as a Payment Event object with a `type` of "CAPTURED".
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '404':
          description: No numeric `orderId` was provided, or an invalid string was provided. Error code `not_found`.
          content:
            application/json:
              schema:
                description: Any type
        '410':
          description: Payment has already been fully captured for this order, or partially captured with the remainder voided. Error code `payment_captured`.
          content:
            application/json:
              schema:
                description: Any type
        '412':
          description: '| errorCode | Description |

            | --- | --- |

            | error | A numeric `orderId` was provided, but did not match any valid order. |

            | invalid_state | The order was declined by Afterpay; no payment can be captured for this order. |

            | payment_voided | The auth for this order has already been completely voided. |

            | payment_expired | The auth for this order has expired; no further payment can be captured. |

            '
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: '| errorCode | Description |

            | --- | --- |

            | invalid_object | The `amount` was missing or invalid, or the `paymentEventMerchantReference` exceeded 128 characters. |

            | invalid_amount | The `amount` was less than the minimum capture amount, or more than the `openToCaptureAmount`. |

            '
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CapturePayment'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/payments/{orderId}/courier:
    put:
      operationId: update-shipping-courier
      summary: Update Shipping Courier
      description: 'This endpoint updates an order with shipping courier information. The Afterpay team may use this information when providing support.


        **Connection Timeouts**

        | Timeout | Time (Seconds) |

        |---------|----------------|

        | Open    | 10             |

        | Read    | 20             |

        '
      tags:
      - ''
      parameters:
      - name: orderId
        in: path
        description: The unique Afterpay Order ID to update.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/V2PaymentsOrderIdCourierPutParametersAccept'
      responses:
        '200':
          description: Returns a Payment object in response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '412':
          description: No Afterpay Order was found matching the `orderId` provided. Error code `precondition_failed`.
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: A value for shippedAt was provided, but not a valid [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) date. Or, a value for priority was provided, but wasn't one of "STANDARD" or "EXPRESS". Error code `invalid_object`.
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Shipping-Courier'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/payments/{orderId}/refund:
    post:
      operationId: create-refund
      summary: Create Refund
      description: 'This endpoint performs a full or partial refund. The refund operation is idempotent if a unique `requestId` and `merchantReference` are provided.


        If using the Deferred Payment Flow, be aware that only captured funds can be refunded. Do not create refunds after 120 days from the date of purchase.


        **Connection Timeouts**

        | Timeout | Time (Seconds) |

        |---------|----------------|

        | Open    | 10             |

        | Read    | 70             |

        '
      tags:
      - ''
      parameters:
      - name: orderId
        in: path
        description: The unique Afterpay Order ID to apply the refund to.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '201':
          description: 'Returns a Refund object in response. All request parameters are echoed in the response. In addition, the response includes the following:

            | Attribute | Type | Description |

            | --- | --- | --- |

            | `refundId` | string | The unique, permanent, Afterpay-generated Refund ID. |

            | `refundedAt` | string | The UTC timestamp of when the refund was completed, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. |

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '412':
          description: The `orderId` is invalid, does not exist, or is not eligible for a refund. For example, the order was declined. Error code `precondition_failed`.
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: '| errorCode | Description |

            | --- | --- |

            | invalid_object | The `refundMerchantReference` exceeded 128 characters. |

            | invalid_amount | The `amount` requested exceeded the amount available. |

            | invalid_object | The currency of the refund does not match the currency of the order (and the Merchant account). |

            | refund_timelimit_exceeded | The refund exceeds the time limit of 120 days. |

            '
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefund'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/payments/{orderId}/void:
    post:
      operationId: void-payment
      summary: Void
      description: "This endpoint voids the remaining `openToCapture` amount of the payment auth, and refunds the customer.\n\n<Info title=\"Note\">\n  To make a partial void, specify an amount in the request body.\n</Info>\n\nThis operation is idempotent based on the `requestId` (if provided), which allows for the safe retry of multiple requests, guaranteeing the payment operation is only made once.\n\n\n\n\n**Connection Timeouts**\n| Timeout | Time (Seconds) |\n|---------|----------------|\n| Open    | 10             |\n| Read    | 70             |\n"
      tags:
      - ''
      parameters:
      - name: orderId
        in: path
        description: The unique ID of the Afterpay Order, returned as the `id` property of the Auth response.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '201':
          description: "If successful, returns an updated copy of the Payment object.\n- A new Payment Event object is appended to the events array, with a type of \"VOIDED\".\n- A new Refund object is prepended to the refunds array.\n- If the openToCapture amount is reduced to zero as a result of this Void request, the paymentState is updated as follows:\n  - from \"AUTH_APPROVED\" to \"VOIDED\", or\n  - from \"PARTIALLY_CAPTURED\" to \"CAPTURED\".\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '404':
          description: The `orderId` string provided was empty or did not match a valid order. Error code `not_found`.
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: 'The amount in USD has exceeded the open-to-capture amount in USD. Example message: "Void amount USD 999.00 exceeded open to capture amount USD 40.00." Error code `invalid_amount`.

            '
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  $ref: '#/components/schemas/Money'
                  description: The amount to void. Must be less than or equal to the open to capture amount.
                requestId:
                  type: string
                  description: A unique request ID, required for safe retries. It is recommended that the merchant generate a UUID for each unique void.
                reason:
                  type: string
                  description: Can be passed in void requests to conditionally modify wording of the corresponding customer refund email. This can be set to 1 of 3 values, `cancelledItems`, `amountAdjustment` or `null`
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/payments/token:{token}:
    get:
      operationId: get-payment-by-token
      summary: Get Payment By Token
      description: 'This endpoint retrieves an individual payment along with its order details.


        **Connection Timeouts**

        | Timeout | Time (Seconds) |

        |---------|----------------|

        | Open    | 10             |

        | Read    | 20             |

        '
      tags:
      - ''
      parameters:
      - name: token
        in: path
        description: Order token that was used to complete payment.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: Returns a Payment object in response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '404':
          description: No Afterpay Order was found matching the `token` provided. Error code `not_found`.
          content:
            application/json:
              schema:
                description: Any type
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/payments/token:{token}/reversal:
    post:
      operationId: reverse-payment-by-token
      summary: Reverse Payment By Token
      description: 'This endpoint makes a reversal of the checkout that is used to start the Afterpay payment process. This cancels the order asynchronously as soon as it is created without the need of an additional call to the void endpoint. For a payment to be eligible, the order must be in an Auth-Approved or Captured state, and it must be issued within 10 minutes of the order being created.


        **Connection Timeouts**

        | Timeout | Time (Seconds) |

        |---------|----------------|

        | Open    | 10             |

        | Read    | 70             |

        '
      tags:
      - ''
      parameters:
      - name: token
        in: path
        description: The token of the checkout to be reversed (voided).
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '204':
          description: The Reversal endpoint indicates a successful response with a 204 status code response. Returns no content in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reverse-payment-by-token_Response_204'
        '402':
          description: Invalid Token. Error code `invalid_token`.
          content:
            application/json:
              schema:
                description: Any type
        '412':
          description: '| errorCode | Description |

            | --- | --- |

            | precondition_failed | Payment reversal previously processed |

            | precondition_failed | Payment not eligible for a reversal |

            | precondition_failed | Order outside reversal window |

            | precondition_failed | Order in pending reversal, no captures/auth accepted |

            '
          content:
            application/json:
              schema:
                description: Any type
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /ping:
    get:
      operationId: ping
      summary: Ping
      description: 'Use this endpoint to check that the service is available and reachable.


        Unlike all other endpoints, this endpoint does not require authentication, and responds with `text/plain` instead of `application/json`.



        **Connection Timeouts**

        | Timeout | Time (Seconds) |

        |---------|----------------|

        | Open    | 10             |

        | Read    | 20             |

        '
      tags:
      - ''
      parameters:
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: text/plain
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '405':
          description: The request was made by a HTTP Method other than `GET`, `HEAD` or `OPTIONS`. For example, `POST`, `PUT` or `DELETE`.
          content:
            application/json:
              schema:
                description: Any type
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
components:
  schemas:
    ConsumerOffersNoPaymentUpfront:
      type: object
      properties:
        eligible:
          type: boolean
          description: Indicates if the consumer is eligible for no payment upfront
        eligibilityLimit:
          $ref: '#/components/schemas/Money'
          description: The maximum amount eligible for no payment upfront
      required:
      - eligible
      - eligibilityLimit
      description: Information about the no payment upfront feature eligibility
      title: ConsumerOffersNoPaymentUpfront
    Offer:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/OfferType'
          description: Type of the offer
        merchantAmount:
          $ref: '#/components/schemas/Money'
          description: Amount for the merchant
        exchangeRate:
          type: number
          format: double
          description: Exchange rate for cross-border transactions
        amountDueToday:
          $ref: '#/components/schemas/Money'
          description: Amount due for immediate payment
        payments:
          type: array
          items:
            $ref: '#/components/schemas/PaymentSchedule'
          description: List of scheduled payments
        crossBorder:
          type: boolean
          description: Indicates if this is a cross-border transaction
        appliedPromotion:
          $ref: '#/components/schemas/Money'
          description: Amount of promotion applied
        consumer:
          $ref: '#/components/schemas/ConsumerOffers'
          description: Consumer offer details
      description: Represents an offer with payment details
      title: Offer
    PaymentAuth:
      type: object
      properties:
        id:
          type: string
          description: The unique, permanent, Afterpay generated Order ID.
        token:
          type: string
          description: The token obtained from the checkout call
        status:
          $ref: '#/components/schemas/PaymentAuthStatus'
[...]
