openapi: 3.2.0
info:
  title: Cash App Payments API
  version: 1.0.0
  description: 'Operations tagged payments across 2 of this provider''s published API definitions: cash-app-network-api-openapi.json, cash-app-payments-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.cash.app/network/v1
  description: Production
- url: https://sandbox.api.cash.app/network/v1
  description: Sandbox
- url: https://global-api-sandbox.afterpay.com
  description: Sandbox
- url: https://global-api.afterpay.com
  description: Production
tags:
- name: Payments
paths:
  /payments:
    get:
      operationId: list-payments
      summary: List payments
      description: 'Returns a list of payments matching the given query parameters.


        **This endpoint is rate limited to 100 QPS.**


        Scopes: `PAYMENTS_READ`'
      tags:
      - Payments
      parameters:
      - name: cursor
        in: query
        description: A pagination cursor returned by a previous call to this endpoint. Provide this cursor to retrieve the next set of results for the original query.
        required: false
        schema:
          type: string
      - name: reference_id
        in: query
        description: Filters results to only include payments with a `reference_id` matching the given value.
        required: false
        schema:
          type: string
      - name: customer_id
        in: query
        description: Filters results to only include payments made by a customer that matches the the given ID.
        required: false
        schema:
          type: string
      - name: merchant_id
        in: query
        description: Filters results to only include payments made to a merchant that matches the the given ID.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of payments to return.
        required: false
        schema:
          type: integer
          default: 50
      - name: Accept
        in: header
        required: true
        schema:
          type: string
      - name: X-Region
        in: header
        required: true
        schema:
          type: string
      - name: X-Signature
        in: header
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments_list-payments_Response_200'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: create-payment
      summary: Create payment
      description: 'Creates a payment from a customer to a merchant.


        Creating a payment requires a grant that is associated with the `ON_FILE_PAYMENT` or `ONE_TIME_PAYMENT` actions. To generate a grant, use the Customer Request API.


        **This endpoint is not rate limited.**


        Scopes: `PAYMENTS_WRITE`'
      tags:
      - Payments
      parameters:
      - name: Accept
        in: header
        required: true
        schema:
          type: string
      - name: X-Region
        in: header
        required: true
        schema:
          type: string
      - name: X-Signature
        in: header
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments_create-payment_Response_201'
        '400':
          description: "Bad Request\n\nIf a `PAYMENT_DECLINE_*` error is returned, the payment will still be created, but with a `DECLINED` status. This payment will then appear in the response payload.\n\n<Note> \n**`PAYMENT_DECLINE_*` errors consume one-time use grants.**\n This means you must repeat the Customer Request flow to get a new grant if you want to try taking the payment again. All other errors will not consume grants.\n</Note>"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Create-paymentRequestBadRequestError'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                idempotency_key:
                  $ref: '#/components/schemas/IdempotencyKey'
                payment:
                  $ref: '#/components/schemas/PaymentsPostRequestBodyContentApplicationJsonSchemaPayment'
                  description: Data about the payment to create.
              required:
              - idempotency_key
              - payment
    servers:
    - url: https://api.cash.app/network/v1
      description: Production
    - url: https://sandbox.api.cash.app/network/v1
      description: Sandbox
  /payments/{payment_id}:
    get:
      operationId: retrieve-payment
      summary: Retrieve payment
      description: 'Retrieves a payment by its ID.


        **This endpoint is not rate limited.**


        Scopes: `PAYMENTS_READ`'
      tags:
      - Payments
      parameters:
      - name: payment_id
        in: path
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          type: string
      - name: X-Region
        in: header
        required: true
        schema:
          type: string
      - name: X-Signature
        in: header
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments_retrieve-payment_Response_200'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Retrieve-paymentRequestNotFoundError'
    servers:
    - url: https://api.cash.app/network/v1
      description: Production
    - url: https://sandbox.api.cash.app/network/v1
      description: Sandbox
  /payments/{payment_id}/authorizations:
    post:
      operationId: create-payment-authorization
      summary: Create incremental authorization
      description: 'Creates an authorization update for a payment. The authorization amount must be greater than or equal to the current authorized amount.


        Use this endpoint for incremental authorization instead of overcapturing using the Capture payment endpoint. By creating additional payment authorizations exceeding the current authorized amount, you can request additional funds without risking the original amount being declined.


        **This endpoint is not rate limited.**


        Scopes: `PAYMENTS_WRITE`'
      tags:
      - Payments
      parameters:
      - name: payment_id
        in: path
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          type: string
      - name: X-Region
        in: header
        required: true
        schema:
          type: string
      - name: X-Signature
        in: header
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments_create-payment-authorization_Response_201'
        '400':
          description: 'Bad Request


            If a AUTHORIZATION_DECLINE_* error is returned, the authorization will still be created, but with a DECLINED status. This authorization will then appear in the response payload.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Create-payment-authorizationRequestBadRequestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                idempotency_key:
                  $ref: '#/components/schemas/IdempotencyKey'
                authorization:
                  $ref: '#/components/schemas/PaymentsPaymentIdAuthorizationsPostRequestBodyContentApplicationJsonSchemaAuthorization'
                  description: Details about the authorization to create.
              required:
              - idempotency_key
              - authorization
    servers:
    - url: https://api.cash.app/network/v1
      description: Production
    - url: https://sandbox.api.cash.app/network/v1
      description: Sandbox
  /payments/{payment_id}/capture:
    post:
      operationId: capture-payment
      summary: Capture payment
      description: 'Updates a payment with the given amount and finalizes it so that it can be paid out in the next nightly settlement batch.


        **This endpoint is not rate limited.**


        Scopes: `PAYMENTS_WRITE`'
      tags:
      - Payments
      parameters:
      - name: payment_id
        in: path
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          type: string
      - name: X-Region
        in: header
        required: true
        schema:
          type: string
      - name: X-Signature
        in: header
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments_capture-payment_Response_200'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                idempotency_key:
                  $ref: '#/components/schemas/IdempotencyKey'
                amount:
                  type: integer
                  description: 'The amount of money to collect from the customer, in the lowest denomination of currency for the payment.


                    To over-capture or under-capture the payment, set this field to a different value from the current payment amount.


                    Min value: `1`'
              required:
              - idempotency_key
              - amount
    servers:
    - url: https://api.cash.app/network/v1
      description: Production
    - url: https://sandbox.api.cash.app/network/v1
      description: Sandbox
  /payments/{payment_id}/void:
    post:
      operationId: void-payment
      summary: Void payment
      description: 'Moves an authorized payment to the voided state and releases the payment authorization from the customer''s Cash App account.


        You can only void an authorized payment. If a payment is captured, refund it instead. You cannot void any payment that has had an attempted capture. Authorizations not captured within seven days are automatically voided.


        This endpoint will return a success message if the payment was successfully voided _or_ if the payment was previously voided.


        **This endpoint is not rate limited.**


        Scopes: `PAYMENTS_WRITE`


        Payment voids can be processed synchronously or asynchronously depending on payment type. The majority of voids are made synchronously.'
      tags:
      - Payments
      parameters:
      - name: payment_id
        in: path
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          type: string
      - name: X-Region
        in: header
        required: true
        schema:
          type: string
      - name: X-Signature
        in: header
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments_void-payment_Response_200'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    servers:
    - url: https://api.cash.app/network/v1
      description: Production
    - url: https://sandbox.api.cash.app/network/v1
      description: Sandbox
  /payments/void-by-idempotency-key:
    post:
      operationId: void-payment-by-idempotency-key
      summary: Void payment by idempotency key
      description: 'Moves an authorized payment to the voided state and releases the payment authorization from the customer''s Cash App account.


        You can only void an authorized payment. If a payment is captured, refund the payment instead.


        You cannot void any payment that has had an attempted capture. Authorizations not captured within seven days are automatically voided.


        This endpoint will return a success message if the payment was successfully voided _or_ if the payment was previously voided.


        **This endpoint is not rate limited.**


        Scopes: `PAYMENTS_WRITE`'
      tags:
      - Payments
      parameters:
      - name: Accept
        in: header
        required: true
        schema:
          type: string
      - name: X-Region
        in: header
        required: true
        schema:
          type: string
      - name: X-Signature
        in: header
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments_void-payment-by-idempotency-key_Response_200'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                idempotency_key:
                  type: string
                  description: Idempotency key used in the [create payment](Network-API.v1.yaml/paths/~1payments/post) request for the payment you want to void.
              required:
              - idempotency_key
    servers:
    - url: https://api.cash.app/network/v1
      description: Production
    - url: https://sandbox.api.cash.app/network/v1
      description: Sandbox
  /v2/payments:
    get:
      operationId: getV2Payments
      summary: List Payments
      description: 'This endpoint retrieves a collection of payments along with their order details.


        **Connection Timeouts**

        | Timeout | Time (Seconds) |

        |---------|----------------|

        | Open | 10 |

        | Read | 20 |'
      tags:
      - Payments
      parameters:
      - name: toCreatedDate
        in: query
        description: An inclusive end date and time to search, in [ISO 8601](http://www.iso.org/iso/home/standards/iso8601.htm) format.
        required: false
        schema:
          type: string
          default: '2020-12-30'
      - name: fromCreatedDate
        in: query
        description: An inclusive start date and time to search, in [ISO 8601](http://www.iso.org/iso/home/standards/iso8601.htm) format.
        required: false
        schema:
          type: string
          default: '2020-01-01'
      - name: tokens
        in: query
        description: One or more order tokens to search for.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: includeNextLink
        in: query
        description: Returns a modified pagination object which includes a URL to return the next page. The default value is false.
        required: false
        schema:
          type: boolean
          default: false
      - name: ids
        in: query
        description: One or more Afterpay Order IDs to search for.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: merchantReferences
        in: query
        description: One or more Merchant Reference IDs to search for.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: statuses
        in: query
        description: One or more Afterpay Order Statuses to search for. Possible values include "APPROVED" and "DECLINED".
        required: false
        schema:
          type: array
          items:
            type: string
      - name: orderBy
        in: query
        description: A field to order results by. If provided, must be one of "createdAt", "id", "totalAmount", "merchantReference" or "email".
        required: false
        schema:
          type: string
          default: createdAt
      - name: ascending
        in: query
        description: '`true` to order results in ascending order, or `false` for descending order.'
        required: false
        schema:
          type: boolean
          default: false
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: Returns the matching Payment objects, enclosed in a Pagination object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-payments_Response_200'
        '422':
          description: An invalid query parameter was provided. For example, a value for `limit` was provided, but was less than 1 or more than 250. Error code `error`.
          content:
            application/json:
              schema:
                description: Any type
        '500':
          description: This is usually caused by sending a `fromCreatedDate` or `toCreatedDate` in an invalid format. Please ensure the dash and colon characters are included, and any plus characters are URL-encoded. Also, for the array parameters (`ids`, `tokens`, `merchantReferences` and `statuses`), do not use comma-separated values or square brackets. Instead, include each parameter multiple times, as needed.
          content:
            application/json:
              schema:
                description: Any type
      x-operation-id-source: normalized
      x-operation-id-original: list-payments
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/payments/auth:
    post:
      operationId: auth
      summary: Auth
      description: 'This endpoint requests a payment auth, which determines the order approval status. If approved, the auth has an expiration date and time, which is returned in the events list for the "AUTH_APPROVED" payment event. Authorization expires after 13 days.


        This operation is idempotent based on the `requestId` (if provided), which allows for the safe retry of multiple requests, guaranteeing the payment operation is only made once.


        The customer''s payment plan starts at the time of auth approval.


        **Note:** Authorization expires after 13 days and then the transaction is automatically voided. Voided transactions are frozen and cannot be reopened or changed in any way. In this case, use the `v2/checkouts` endpoint to create a new order.


        **Connection Timeouts**

        | Timeout | Time (Seconds) |

        |---------|----------------|

        | Open | 10 |

        | Read | 70 |'
      tags:
      - Payments
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '201':
          description: If the payment is approved by Afterpay, a Payment object is returned with a `status` of **APPROVED** and a `paymentState` of **AUTH_APPROVED**.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAuth'
        '402':
          description: 'If payment is declined by Afterpay, for example, if invalid card details were entered, returns a Payment object in response, with a `status` of "DECLINED" and a `paymentState` of "AUTH_DECLINED". advise the customer to contact the Afterpay Customer Service team for more information.


            As well, the following errorCodes are possible:

            | errorCode | Description |

            | --- | --- |

            | invalid_token | The checkout token is invalid, expired, or does not exist.

            '
          content:
            application/json:
              schema:
                description: Any type
        '412':
          description: The customer has not confirmed their payment for the order associated with this token. Error code `invalid_order_transaction_status`.
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: The checkout token was missing or empty. Error code `invalid_object`.
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizePayment'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/payments/capture:
    post:
      operationId: capture-full-payment
      summary: Capture Full Payment
      description: 'This endpoint makes a payment capture for the full value of the payment plan.


        This operation is idempotent based on the token, which allows for the safe retry of requests, guaranteeing the payment operation is only made once.


        Since the idempotency of this endpoint is based on the token, the inclusion of a `requestId` is not required.


        **Connection Timeouts**

        | Timeout | Time (Seconds) |

        |---------|----------------|

        | Open | 10 |

        | Read | 70 |'
      tags:
      - Payments
      parameters:
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '201':
          description: '| Status | Description |

            | ----- | ----- |

            | `APPROVED` | If payment is approved by Afterpay, returns a Payment object in response, with a status of "APPROVED". |

            | `DECLINED` | If payment is declined by Afterpay, for example, if invalid card details were entered, returns a Payment object in response, with a status of "DECLINED". Please advise the customer to contact the Afterpay Customer Service team for more information. |

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment_2'
        '402':
          description: The checkout token is invalid, expired, or does not exist. Error code `invalid_token`.
          content:
            application/json:
              schema:
                description: Any type
        '412':
          description: The Consumer has not confirmed their payment for the order associated with this token. Error code `invalid_order_transaction_status`.
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: The checkout token was missing or empty. Error code `invalid_object`.
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: The token returned in the Create Checkout request.
                merchantReference:
                  type: string
                  description: The merchant’s order id/reference that this payment corresponds to. This updates any value previously provided in the Create Checkout request.
                amount:
                  $ref: '#/components/schemas/Money'
                  description: '**Required for express checkout only.** Amount to be checked against the value in the create checkout request. If the amounts do not match, then the request is rejected and an error specific to this scenario is returned. '
                isCheckoutAdjusted:
                  type: boolean
                  description: '**Express checkout only.** The isCheckoutAdjusted field can be used to allow the order amount to be changed after the checkout flow.'
                paymentScheduleChecksum:
                  type: string
                  description: '**Express checkout only.** A unique value representing the payment schedule that must be provided when there have been changes since the initial order creation (retrieved from checkout widget).'
                items:
                  $ref: '#/components/schemas/Item'
                  description: '**Express checkout only.** An array of order items that have been updated. Provide if it has changed since the initial order creation.'
                shipping:
                  $ref: '#/components/schemas/Contact'
                  description: '**Express checkout only.** The shipping address if it has changed since the initial order creation. '
                enrichments:
                  $ref: '#/components/schemas/Enrichments'
                grantId:
                  type: string
                  description: The Afterpay or Cash App Pay on-file grant ID. Required when processing a payment using a previously stored on-file grant.
              required:
              - token
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/payments/{orderId}:
    get:
      operationId: get-payment-by-order-id
      summary: Get Payment By Order ID
      description: 'This endpoint retrieves an individual payment along with its order details.


        **Connection Timeouts**

        | Timeout | Time (Seconds) |

        |---------|----------------|

        | Open | 10 |

        | Read | 20 |'
      tags:
      - Payments
      parameters:
      - name: orderId
        in: path
        description: The unique ID of the Afterpay Order, for which a Payment event has been completed.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: Returns a Payment object in response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment_2'
        '404':
          description: No Afterpay Order was found matching the `orderId` provided. Error code `not_found`.
          content:
            application/json:
              schema:
                description: Any type
    put:
      operationId: update-payment-by-order-id
      summary: Update Payment by Order ID
      description: This endpoint is to create merchant side order ID's following the Afterpay order ID creation. Call the endpoint immediately after the Afterpay order is created.
      tags:
      - Payments
      parameters:
      - name: orderId
        in: path
        description: The Order ID to update
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '201':
          description: Returns object containing the following attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-payment-by-order-id_Response_201'
        '404':
          description: The Afterpay payment ID to update was not found. Error code `not_found`.
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                merchantReference:
                  type: string
                  default: new_merchant_order_id_1234
                  description: The merchant’s new order ID to replace with
              required:
              - merchantReference
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/payments/{orderId}/capture:
    post:
      operationId: postV2PaymentsByOrderIdCapture
      summary: Capture Payment
      description: 'This endpoint captures a full or partial payment. Any amounts successfully captured are settled from Afterpay to the merchant''s nominated bank account on the following day. Records of all payments captured against an order are returned in the events list as events of type, "CAPTURED".


        **Note:** Authorization expires after 13 days and then the transaction is automatically voided. Voided transactions are frozen and cannot be captured, reopened or changed in any way. In this case your only option is to use the v2/checkouts endpoint to create a new order.


        This operation is idempotent based on the `requestId` (if provided), which allows the safe retry of multiple requests. This safe retry guarantees the payment operation only occurs once.


        **Connection Timeouts**

        | Timeout | Time (Seconds) |

        |---------|----------------|

        | Open | 10 |

        | Read | 70 |'
      tags:
      - Payments
      parameters:
      - name: orderId
        in: path
        description: The unique ID of the Afterpay Order, returned as the `id` property of the Auth response.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '201':
          description: If successful, returns an updated copy of the Payment object, with the newly captured payment appended to the `events` array as a Payment Event object with a `type` of "CAPTURED".
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment_2'
        '404':
          description: No numeric `orderId` was provided, or an invalid string was provided. Error code `not_found`.
          content:
            application/json:
              schema:
                description: Any type
        '410':
          description: Payment has already been fully captured for this order, or partially captured with the remainder voided. Error code `payment_captured`.
          content:
            application/json:
              schema:
                description: Any type
        '412':
          description: '| errorCode | Description |

            | --- | --- |

            | error | A numeric `orderId` was provided, but did not match any valid order. |

            | invalid_state | The order was declined by Afterpay; no payment can be captured for this order. |

            | payment_voided | The auth for this order has already been completely voided. |

            | payment_expired | The auth for this order has expired; no further payment can be captured. |

            '
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: '| errorCode | Description |

            | --- | --- |

            | invalid_object | The `amount` was missing or invalid, or the `paymentEventMerchantReference` exceeded 128 characters. |

            | invalid_amount | The `amount` was less than the minimum capture amount, or more than the `openToCaptureAmount`. |

            '
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CapturePayment'
      x-operation-id-source: normalized
      x-operation-id-original: capture-payment
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/payments/{orderId}/courier:
    put:
      operationId: update-shipping-courier
      summary: Update Shipping Courier
      description: 'This endpoint updates an order with shipping courier information. The Afterpay team may use this information when providing support.


        **Connection Timeouts**

        | Timeout | Time (Seconds) |

        |---------|----------------|

        | Open | 10 |

        | Read | 20 |'
      tags:
      - Payments
      parameters:
      - name: orderId
        in: path
        description: The unique Afterpay Order ID to update.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          $ref: '#/components/schemas/V2PaymentsOrderIdCourierPutParametersAccept'
      responses:
        '200':
          description: Returns a Payment object in response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment_2'
        '412':
          description: No Afterpay Order was found matching the `orderId` provided. Error code `precondition_failed`.
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: A value for shippedAt was provided, but not a valid [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) date. Or, a value for priority was provided, but wasn't one of "STANDARD" or "EXPRESS". Error code `invalid_object`.
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Shipping-Courier'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/payments/{orderId}/refund:
    post:
      operationId: create-refund
      summary: Create Refund
      description: 'This endpoint performs a full or partial refund. The refund operation is idempotent if a unique `requestId` and `merchantReference` are provided.


        If using the Deferred Payment Flow, be aware that only captured funds can be refunded. Do not create refunds after 120 days from the date of purchase.


        **Connection Timeouts**

        | Timeout | Time (Seconds) |

        |---------|----------------|

        | Open | 10 |

        | Read | 70 |'
      tags:
      - Payments
      parameters:
      - name: orderId
        in: path
        description: The unique Afterpay Order ID to apply the refund to.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '201':
          description: 'Returns a Refund object in response. All request parameters are echoed in the response. In addition, the response includes the following:

            | Attribute | Type | Description |

            | --- | --- | --- |

            | `refundId` | string | The unique, permanent, Afterpay-generated Refund ID. |

            | `refundedAt` | string | The UTC timestamp of when the refund was completed, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. |

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '412':
          description: The `orderId` is invalid, does not exist, or is not eligible for a refund. For example, the order was declined. Error code `precondition_failed`.
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: '| errorCode | Description |

            | --- | --- |

            | invalid_object | The `refundMerchantReference` exceeded 128 characters. |

            | invalid_amount | The `amount` requested exceeded the amount available. |

            | invalid_object | The currency of the refund does not match the currency of the order (and the Merchant account). |

            | refund_timelimit_exceeded | The refund exceeds the time limit of 120 days. |

            '
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefund'
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/payments/{orderId}/void:
    post:
      operationId: postV2PaymentsByOrderIdVoid
      summary: Void
      description: 'This endpoint voids the remaining `openToCapture` amount of the payment auth, and refunds the customer.


        To make a partial void, specify an amount in the request body.


        This operation is idempotent based on the `requestId` (if provided), which allows for the safe retry of multiple requests, guaranteeing the payment operation is only made once.


        **Connection Timeouts**

        | Timeout | Time (Seconds) |

        |---------|----------------|

        | Open | 10 |

        | Read | 70 |'
      tags:
      - Payments
      parameters:
      - name: orderId
        in: path
        description: The unique ID of the Afterpay Order, returned as the `id` property of the Auth response.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '201':
          description: "If successful, returns an updated copy of the Payment object.\n- A new Payment Event object is appended to the events array, with a type of \"VOIDED\".\n- A new Refund object is prepended to the refunds array.\n- If the openToCapture amount is reduced to zero as a result of this Void request, the paymentState is updated as follows:\n  - from \"AUTH_APPROVED\" to \"VOIDED\", or\n  - from \"PARTIALLY_CAPTURED\" to \"CAPTURED\".\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment_2'
        '404':
          description: The `orderId` string provided was empty or did not match a valid order. Error code `not_found`.
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: 'The amount in USD has exceeded the open-to-capture amount in USD. Example message: "Void amount USD 999.00 exceeded open to capture amount USD 40.00." Error code `invalid_amount`.

            '
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  $ref: '#/components/schemas/Money'
                  description: The amount to void. Must be less than or equal to the open to capture amount.
                requestId:
                  type: string
                  description: A unique request ID, required for safe retries. It is recommended that the merchant generate a UUID for each unique void.
                reason:
                  type: string
                  description: Can be passed in void requests to conditionally modify wording of the corresponding customer refund email. This can be set to 1 of 3 values, `cancelledItems`, `amountAdjustment` or `null`
      x-operation-id-source: normalized
      x-operation-id-original: void-payment
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/payments/token:{token}:
    get:
      operationId: get-payment-by-token
      summary: Get Payment By Token
      description: 'This endpoint retrieves an individual payment along with its order details.


        **Connection Timeouts**

        | Timeout | Time (Seconds) |

        |---------|----------------|

        | Open | 10 |

        | Read | 20 |'
      tags:
      - Payments
      parameters:
      - name: token
        in: path
        description: Order token that was used to complete payment.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: Returns a Payment object in response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment_2'
        '404':
          description: No Afterpay Order was found matching the `token` provided. Error code `not_found`.
          content:
            application/json:
              schema:
                description: Any type
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
  /v2/payments/token:{token}/reversal:
    post:
      operationId: reverse-payment-by-token
      summary: Reverse Payment By Token
      description: 'This endpoint makes a reversal of the checkout that is used to start the Afterpay payment process. This cancels the order asynchronously as soon as it is created without the need of an additional call to the void endpoint. For a payment to be eligible, the order must be in an Auth-Approved or Captured state, and it must be issued within 10 minutes of the order being created.


        **Connection Timeouts**

        | Timeout | Time (Seconds) |

        |---------|----------------|

        | Open | 10 |

        | Read | 70 |'
      tags:
      - Payments
      parameters:
      - name: token
        in: path
        description: The token of the checkout to be reversed (voided).
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Basic authentication
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/json
      responses:
        '204':
          description: The Reversal endpoint indicates a successful response with a 204 status code response. Returns no content in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reverse-payment-by-token_Response_204'
        '402':
          description: Invalid Token. Error code `invalid_token`.
          content:
            application/json:
              schema:
                description: Any type
        '412':
          description: '| errorCode | Description |

            | --- | --- |

            | precondition_failed | Payment reversal previously processed |

            | precondition_failed | Payment not eligible for a reversal |

            | precondition_failed | Order outside reversal window |

            | precondition_failed | Order in pending reversal, no captures/auth accepted |

            '
          content:
            application/json:
              schema:
                description: Any type
    servers:
    - url: https://global-api-sandbox.afterpay.com
      description: Sandbox
    - url: https://global-api.afterpay.com
      description: Production
components:
  schemas:
    Payments_void-payment-by-idempotency-key_Response_200:
      type: object
      properties:
        payment:
          $ref: '#/components/schemas/Payment'
      required:
      - payment
      title: Payments_void-payment-by-idempotency-key_Response_200
    PaymentEnrichments:
      type: object
      properties:
        initiation:
          $ref: '#/components/schemas/PaymentEnrichmentsInitiation'
          description: If present, provides information about transaction initiation.
        recurring_series_id:
          type: string
          description: 'If present, indicates that this payment is part of a recurring series of payments, such as a subscription.


            The value should contain a unique identifier for the recurring series that is constant across all of its payments, so it can be used to group them together.


            Min length: `1`

            Max length: `1024`'
        statement_descriptor:
          type: string
          description: 'If present, adds the descriptor as line item on to a customer''s payment receipt in their in-app Activity page.

            The descriptor will be present under the header "On statement as".


            Statement descriptor requirements vary by platform. If the input for this field exceeds the character limit, it will be truncated to the limit, then suffixed with an ellipsis (...).


            Min length: `1`

            Max length: `22`'
        restricted_categories:
          type: array
          items:
            $ref: '#/components/schemas/PaymentEnrichmentsRestrictedCategoriesItems'
          description: If present, indicates that this payment is associated with one or more restricted categories. Contact the Cash App Pay support team to use this field.
      description: "Describes optional fields beyond core payment information to supplement payment processing.\n\nEnrichments provide additional context about a payment, which can improve the overall payment experience including, but not limited to: \n  - Increased approval rates\n  - Enhanced transaction insights\n  - Better payment flows in Cash App"
      title: PaymentEnrichments
    Payments_create-payment_Response_201:
      type: object
      properties:
        payment:
          $ref: '#/components/schemas/Payment'
      title: Payments_create-payment_Response_201
    PaymentEnrichmentsInitiation:
      type: object
      properties:
        actor:
          $ref: '#/components/schemas/PaymentEnrichmentsInitiationActor'
          description: 'The party who initiated the payment.


            - `CUSTOMER`

            - `MERCHANT`'
      required:
      - actor
      description: If present, provides information about transaction initiation.
      title: PaymentEnrichmentsInitiation
    IdempotencyKey:
      type: string
      description: A unique identifier which can be used by Cash App to de-duplicate retries of this request, making it idempotent. For more information, see [Idempotency](/cash-app-pay-partner-api/guides/technical-guides/api-fundamentals/idempotency).
      title: IdempotencyKey
    Currency:
      type: string
      enum:
      - USD
      description: 'Indicates the country associated with an entity. Values are from the [ISO-4217 Alpha-3](https://www.iso.org/iso-4217-currency-codes.html) specification.


        Current values:


        - `USD`: United States Dollar'
      title: Currency
    Retrieve-paymentRequestNotFoundError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
      required:
      - errors
      title: Retrieve-paymentRequestNotFoundError
    Create-paymentRequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: 'A list of errors indicating why the request failed.


            Min number of items: `1`'
        payment:
          $ref: '#/components/schemas/Payment'
      required:
      - errors
      title: Create-paymentRequestBadRequestError
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: 'A list of errors that occurred while processing the request.


            Min number of items: `1`'
      required:
      - errors
      title: ErrorResponse
    ErrorCategory:
      type: string
      enum:
      - API_ERROR
      - AUTHENTICATION_ERROR
      - BRAND_ERROR
      - DISPUTE_ERROR
      - MERCHANT_ERROR
      - INVALID_REQUEST_ERROR
      - PAYMENT_PROCESSING_ERROR
      - RATE_LIMIT_ERROR
      - WEBHOOK_ERROR
      - API_KEY_ERROR
      - GRANT_ERROR
      description: The high-level reason the error occurred.
      title: ErrorCategory
    FeeRate:
      type: object
      properties:
        basis_points:
          type: integer
          description: The variable fee charged for processing the payment expressed as 1/100th of a percentage.
        fixed_amount:
          type: integer
          description: "The amount charged for processing the payment, in the lowest denomination of currency on the payment.\n **Note: The currency for the fee is found on the fee plan.**"
      description: A fee rate contains the components of a fee charged by Cash App to partners for a given payment.
      title: FeeRate
    Payments_list-payments_Response_200:
      type: object
      properties:
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
          description: List of payments matching the given query parameters.
        cursor:
          type: string
          description: The pagination cursor to be used in a subsequent request. If empty, this is the final response.
      required:
      - payments
      title: Payments_list-payments_Response_200
    PaymentEnrichmentsRestrictedCategoriesItems:
      type: string
      enum:
      - ALCOHOL
      - FINANCIAL_SERVICES
      - CANNABIS
      title: PaymentEnrichmentsRestrictedCategoriesItems
    PaymentStatus:
      type: string
      enum:
      - AUTHORIZED
      - CAPTURED
      - VOIDED
      - DECLINED
      description: 'The step of the payment processing lifecycle that this payment is currently at.


        - `AUTHORIZED`

        - `CAPTURED`

        - `VOIDED`

        - `DECLINED`'
      title: PaymentStatus
    Authorization:
      type: object
      properties:
        id:
          type: string
          description: 'Unique identifier for this authorization issued by Cash App.


            Min length: 1 character

            Max length: 128 characters'
        amount:
          type: integer
          description: Total authorized amount after this authorization was processed, in the lowest denomination of currency on the payment.
        currency:
          $ref: '#/components/schemas/Currency'
        status:
          $ref: '#/components/schemas/AuthorizationStatus'
          description: 'The step of the authorization processing lifecycle that this authorization is currently at.


            Allowed values:

            - AUTHORIZED

            - DECLINED'
        created_at:
          type: string
          format: date-time
          description: When this authorization was created, in RFC 3339 format (UTC).
        payment_id:
          type: string
          description: ID of the payment associated with this authorization
        previous_amount:
          type: integer
          description: Total authorized amount before this authorization was requested
        reference_id:
          type: string
          description: 'A user-defined identifier for this authorization, typically used to associate the authorization with a record in an external system.


            Min length: 1

            Max length: 1024'
        metadata:
          $ref: '#/components/schemas/Metadata'
        decline_errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: 'If the authorization was declined, it contains a list of the reasons why it was declined.


            Min number of items: 1'
      required:
      - id
      - amount
      - currency
      - status
      - created_at
      - payment_id
      - previous_amount
      description: Represents an authorization update for a payment
      title: Authorization
    Payments_create-payment-authorization_Response_201:
      type: object
      properties:
        authorization:
          $ref: '#/components/schemas/Authorization'
      required:
      - authorization
      title: Payments_create-payment-authorization_Response_201
    Payments_void-payment_Response_200:
      type: object
      properties:
        payment:
          $ref: '#/components/schemas/Payment'
      required:
      - payment
      title: Payments_void-payment_Response_200
    Create-payment-authorizationRequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: "A list of errors indicating why the request failed.\n \nMin number of items: `1`"
        authorization:
          $ref: '#/components/schemas/Authorization'
      required:
      - errors
      title: Create-payment-authorizationRequestBadRequestError
    PaymentEnrichmentsInitiationActor:
      type: string
      enum:
      - CUSTOMER
      - MERCHANT
      description: 'The party who initiated the payment.


        - `CUSTOMER`

        - `MERCHANT`'
      title: PaymentEnrichmentsInitiationActor
    Metadata:
      type: object
      additionalProperties:
        type: string
      description: 'Freeform key-value pairs of arbitrary data associated with this resource.


        Keys and values must be passed as strings and not contain any personally identifiable information (PII).


        Min keys: `0`

        Max keys: `50`



        > Note: Nested keys are not supported.'
      title: Metadata
    Payment:
      type: object
      properties:
        id:
          type: string
          description: 'Unique identifier for this payment issued by Cash App.


            Min length: `1`

            Max length: `128`'
        amount:
          type: integer
          description: 'The amount of money to collect, in the lowest denomination of currency on the payment. This is the _original_ amount authorized when the payment was created.


            Min value: `1`'
        net_amount:
          type: integer
          description: 'The amount remaining after refunds and voided payments are deducted from the amount field. The amount will be in the lowest denomination of the currency on the payment.

            This is the amount that will be shown to the customer in their Cash App account.



            Min value: `0`'
        captured_amount:
          type: integer
          description: 'The amount of money on this payment that has been allocated for settlement. The amount will be in the lowest denomination of the currency on the payment.


            Min value: `0`'
        voided_amount:
          type: integer
          description: 'The amount of money on this payment that is no longer authorized and has been released back to the customer. The amount will be in the lowest denomination of the currency on the payment.


            Min value: `0`'
        refunded_amount:
          type: integer
          description: 'Sum of captured refunds in the lowest denomination of currency on the payment.


            Min value: `0`'
        currency:
          $ref: '#/components/schemas/Currency'
        customer_id:
          type: string
          description: 'ID of the customer that sent this payment.


            Min length: `1`

            Max length: `128`'
        merchant_id:
          type: string
          description: 'ID of the merchant that received this payment.


            Min length: `1`

            Max length: `128`'
        grant_id:
          type: string
          description: 'ID of the grant to used to create this payment.


            Min length: `1`

            Max length: `256`'
        status:
          $ref: '#/components/schemas/PaymentStatus'
          description: 'The step of the payment processing lifecycle that this payment is currently at.


            - `AUTHORIZED`

            - `CAPTURED`

            - `VOIDED`

            - `DECLINED`'
        created_at:
          type: string
          format: date-time
          description: When this payment was created, in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format (UTC).
        updated_at:
          type: string
          format: date-time
          description: When this payment was last updated, in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format (UTC).
        capture_before:
          type: string
          format: date-time
          description: When this payment should be captured by, in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format (UTC).
        refund_ids:
          type: array
          items:
            type: string
          description: 'A list of one or more IDs associated with refunds issued for this payment.


            Min array length: `1`

            Min length of IDs: `1`

            Max length of IDs: `128`'
        reference_id:
          type: string
          description: 'A user-defined identifier for this payment, typically used to associate the payment with a record in an external system.


            Min length: `1`

            Max length: `1024`'
        metadata:
          $ref: '#/components/schemas/Metadata'
        enrichments:
          $ref: '#/components/schemas/PaymentEnrichments'
        decline_errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: 'If the payment was declined, contains a list of the reasons why it was declined.


            Min number of items: `1`'
        fee_amount:
          type: number
          format: double
          description: The total fee amount that was charged to the merchant for processing this payment.
        fee_rate:
          $ref: '#/components/schemas/FeeRate'
          description: The breakdown of the fee that was charged to the merchant for processing this payment.
        authorization_updates:
          type: array
          items:
            $ref: '#/components/schemas/Authorization'
          description: "A list of authorization update attempts associated with this payment, sorted in chronological order.\n\nNote: This field contains only the authorization update attempts, so this field will be empty when \nthe payment is first created (even though the amount is authorized in this flow, it is not an update)."
      required:
      - id
      - amount
      - net_amount
      - captured_amount
      - voided_amount
      - refunded_amount
      - currency
      - customer_id
      - merchant_id
      - grant_id
      - status
      - created_at
      - updated_at
      title: Payment
    PaymentsPaymentIdAuthorizationsPostRequestBodyContentApplicationJsonSchemaAuthorization:
      type: object
      properties:
        amount:
          type: integer
          description: 'The updated total amount of money to collect from the customer, in the lowest denomination of currency for the payment.

            This value must be greater than or equal to the current authorized amount'
        currency:
          $ref: '#/components/schemas/Currency'
        reference_id:
          type: string
          description: 'A user-defined identifier for this authorization, typically used to associate the authorization with a record in an external system.


            Min length: `1`

            Max length: `1024`'
        metadata:
          $ref: '#/components/schemas/Metadata'
      required:
      - amount
      - currency
      description: Details about the authorization to create.
      title: PaymentsPaymentIdAuthorizationsPostRequestBodyContentApplicationJsonSchemaAuthorization
    Error:
      type: object
      properties:
        category:
          $ref: '#/components/schemas/ErrorCategory'
          description: The high-level reason the error occurred.
        code:
          type: string
          description: 'A unique identifier for the specific type of error that occurred. For more information, see [Error Code Reference](/cash-app-pay-partner-api/guides/technical-guides/api-fundamentals/errors/error-code-reference).


            Min length: `1`'
        detail:
          type: string
          description: 'Human-readable description of why the error occurred and how to resolve it.


            Min length: `1`'
        field:
          type: string
          description: 'The field in the request that caused the error, using array and object dot notation.


            Min length: `1`'
      required:
      - category
      - code
      description: Represents an error encountered during a request to the API.
      title: Error
    Payments_capture-payment_Response_200:
      type: object
      properties:
        payment:
          $ref: '#/components/schemas/Payment'
      required:
      - payment
      title: Payments_capture-payment_Response_200
    Payments_retrieve-payment_Response_200:
      type: object
      properties:
        payment:
          $ref: '#/components/schemas/Payment'
      required:
      - payment
      title: Payments_retrieve-payment_Response_200
    AuthorizationStatus:
      type: string
      enum:
      - AUTHORIZED
      - DECLINED
      description: 'The step of the authorization processing lifecycle that this authorization is currently at.


        Allowed values:

        - AUTHORIZED

        - DECLINED'
      title: AuthorizationStatus
    PaymentsPostRequestBodyContentApplicationJsonSchemaPayment:
      type: object
      properties:
        amount:
          type: integer
          description: 'The amount of money to charge the customer, in the lowest denomination of currency for the payment.


            Min value: `1`'
        currency:
          $ref: '#/components/schemas/Currency'
        merchant_id:
          type: string
          description: 'ID of the merchant to make the payment to.


            Min length: `1`

            Max length: `128`'
        grant_id:
          type: string
          description: 'A grant ID from the Customer Request API that indicates permission to take the payment.


            Min length: `1`

            Max length: `256`'
        reference_id:
          type: string
          description: 'A user-defined identifier for this payment, typically used to associate the payment with a record in an external system.


            Min length: `1`

            Max length: `1024`'
        capture:
          type: boolean
          default: true
          description: 'Whether or not to automatically capture the payment once it''s created.


            Default: `true`'
        metadata:
          $ref: '#/components/schemas/Metadata'
        enrichments:
          $ref: '#/components/schemas/PaymentEnrichments'
      required:
      - amount
      - currency
      - merchant_id
      - grant_id
      description: Data about the payment to create.
      title: PaymentsPostRequestBodyContentApplicationJsonSchemaPayment
    CreateRefund:
      type: object
      properties:
        requestId:
          type: string
          description: Unique ID required for safe retries. Max length 64 (varchar).
        amount:
          $ref: '#/components/schemas/Money'
        merchantReference:
          type: string
          description: The merchant’s internal refund id/reference. This must be included along with the `requestId` to utilise idempotency. Max length 85 (varchar).
        refundMerchantReference:
          type: string
          description: A unique reference for the individual refund event. Max length 128 (varchar).
      description: "To guarantee safe retries, the merchant should offer their refund ID or reference, aligning with their internal records\n\nUnique values for the `requestID`  and `merchantReference` are required to guarantee safe retries. It is recommended that the merchant generates a UUID for each unique refund request. \n\nThe `refundMerchantReference` is a unique reference that when provided, will appear in the daily settlement file as \"Payment Event Id\". In most cases, this would hold the same value as the `merchantReference`.\n"
      title: CreateRefund
    ContactCountryCode:
      type: string
      enum:
      - AU
      - NZ
      - US
      - CA
      - GB
      title: ContactCountryCode
    PaymentAuthPaymentState:
      type: string
      enum:
      - AUTH_APPROVED
      - AUTH_DECLINED
      - PARTIALLY_CAPTURED
      - CAPTURED
      - CAPTURE_DECLINED
      - VOIDED
      description: is the current state for capturing payments
      title: PaymentAuthPaymentState
    MoneyCurrency:
      type: string
      enum:
      - AUD
      - NZD
      - USD
      - CAD
      - GBP
      title: MoneyCurrency
    Initiation:
      type: object
      properties:
        actor:
          $ref: '#/components/schemas/InitiationActor'
          description: The party who initiated the order
      required:
      - actor
      title: Initiation
    Shipping-Courier:
      type: object
      properties:
        shippedAt:
          type: string
          format: date-time
        name:
          type: string
        tracking:
          type: string
        priority:
          $ref: '#/components/schemas/ShippingCourierPriority'
      description: 'Essential information for tracking a shipment. The `shippedAt` key represents the date and time when the item was shipped. This value follows the [ISO 8601 standard format](https://www.iso.org/iso-8601-date-and-time-format.html) for date and time representations.


        The `name` field indicates the courier service employed to handle the shipment (e.g. FEDEX, UPS). For orders that are picked up in-store (also known as Buy-Online-Pickup-Instore), please use "INSTORE_PICKUP" as the `name` field value.


        The `tracking` key represents a unique tracking number provided by the courier service to monitor the shipment''s progress. It''s a valuable tool for customers and businesses to track and trace their packages.


        The `priority` field tracks the shipping speed or service level associated with the delivery. '
      title: Shipping-Courier
    Contact:
      type: object
      properties:
        name:
          type: string
        line1:
          type: string
          description: First line of the address
        line2:
          type: string
          description: 'Second line of the address '
        area1:
          type: string
          description: '- AU: Suburb

            - NZ: Town or City

            - UK: Postal Town

            - US: City

            - Canada: City'
        area2:
          type: string
          description: '- NZ: suburb

            - UK: village or local area.'
        region:
          type: string
          description: "- AU: State \n- NZ: Region\n- UK: County\n- US: State\n- CA: Province or Territory"
        postcode:
          type: string
        countryCode:
          $ref: '#/components/schemas/ContactCountryCode'
        phoneNumber:
          type: string
          description: The phone number, in [E.123](https://en.wikipedia.org/wiki/E.123) format.
      required:
      - name
      - line1
      - area1
      - region
      - postcode
      - countryCode
      description: "This data model is used for storing an individual's contact information. Mandatory fields such as **name**, **line1**, **area1**, **region**, **postcode**, and **countryCode** help in capturing vital information about a user's location. \n\nThe `line2` and `area2` fields provide additional space for extended addresses, while `phoneNumber` can be used to store the user's contact number.\n\n\n<Warning Title=\"Important Note\">\n  The `area1`, `area2` and `region` properties feature localized terminology based on country. Refer to the property descriptions for insights on each country's specific usage \n</Warning>\n"
      title: Contact
    CapturePayment:
      type: object
      properties:
        requestId:
          type: string
          format: uuid
          description: A unique request ID, required for idempotent retries.
        merchantReference:
          type: string
          description: 'The reference/order ID that this payment corresponds to in the merchant''s system.


            Note: Providing a new value updates any value previously set in the Create Checkout request.'
        amount:
          $ref: '#/components/schemas/Money'
        paymentEventMerchantReference:
          type: string
          description: 'A unique reference for the individual payment capture event. If provided, the value appears in the daily settlement file as "Payment Event ID"

            '
      title: CapturePayment
    Discount:
      type: object
      properties:
        displayName:
          type: string
        amount:
          $ref: '#/components/schemas/Money'
      description: Discount applied to an order
      title: Discount
    reverse-payment-by-token_Response_204:
      type: object
      properties: {}
      description: Empty response body
      title: reverse-payment-by-token_Response_204
    Refund:
      type: object
      properties:
        requestId:
          type: string
          description: Unique ID required for safe retries. Max length 64 (varchar).
        amount:
          $ref: '#/components/schemas/Money'
        merchantReference:
          type: string
          description: The merchant’s internal refund id/reference. This must be included along with the `requestId` to utilise idempotency. Max length 85 (varchar).
        refundMerchantReference:
          type: string
          description: A unique reference for the individual refund event. Max length 128 (varchar).
        refundId:
          type: string
          description: The unique, permanent, Afterpay-generated Refund ID.
        refundedAt:
          type: string
      description: 'To guarantee safe retries, the merchant should offer their refund ID or reference, aligning with their internal records


        Unique values for the `requestID`  and `merchantReference` are required to guarantee safe retries. It is recommended that the merchant generates a UUID for each unique refund request.


        The `refundMerchantReference` is a unique reference that when provided, will appear in the daily settlement file as "Payment Event Id". In most cases, this would hold the same value as the `merchantReference`.

        '
      title: Refund
    Order-Details:
      type: object
      properties:
        consumer:
          $ref: '#/components/schemas/Consumer'
        billing:
          $ref: '#/components/schemas/Contact'
        courier:
          $ref: '#/components/schemas/Shipping-Courier'
        items:
          type: array
          items:
            $ref: '#/components/schemas/Item'
        discounts:
          type: array
          items:
            $ref: '#/components/schemas/Discount'
        taxAmount:
          $ref: '#/components/schemas/Money'
        shippingAmount:
          $ref: '#/components/schemas/Money'
      description: This comprehensive schema is designed to store an entire transaction's detail, covering crucial aspects like consumer information, billing and shipping details, courier particulars, item list, discounts, tax, and shipping amount.
      title: Order-Details
    SubscriptionType:
      type: string
      enum:
      - FIXED
      - VARIABLE
      title: SubscriptionType
    list-payments_Response_200:
      type: object
      properties:
        totalResults:
          type: integer
          description: Total number of results
        offset:
          type: integer
          description: The offer of the pagination
        limit:
          type: integer
          description: The number of payments to include in the results
        results:
          type: array
          items:
            $ref: '#/components/schemas/Payment_2'
      title: list-payments_Response_200
    AuthorizePayment:
      type: object
      properties:
        requestid:
          type: string
          format: uuid
          description: A unique request ID, required for idempotent retries. We recommend that merchants generate a Universally Unique Identifier (UUID) for each unique request.
        token:
          type: string
        merchantReference:
          type: string
          description: 'The reference/order ID that this payment corresponds to in the merchant''s system.


            **Note:** Providing a new value updates any value previously set in the Create Checkout request.'
        amount:
          $ref: '#/components/schemas/Money'
          description: '**Required for express checkout only.** Amount to be checked against the value in the create checkout request. If the amounts do not match, then the request is rejected and an error specific to this scenario is returned.'
        isCheckoutAdjusted:
          type: boolean
          description: '**Express checkout only.** The isCheckoutAdjusted field can be used to allow the order amount to be changed after the checkout flow. Used for express checkout.'
        paymentScheduleChecksum:
          type: string
          description: '**Express checkout only.** A unique value representing the payment schedule that must be provided when there has been changes since the initial order creation (retrieved from checkout widget).'
        items:
          type: array
          items:
            description: Any type
          description: '**Express checkout only.** An array of order items that have been updated to be provided if it has changed since the initial order creation.'
        shipping:
          $ref: '#/components/schemas/Contact'
          description: '**Express checkout only.** The shipping address if it has changed since the initial order creation.'
        enrichments:
          $ref: '#/components/schemas/Enrichments'
        grantId:
          type: string
          description: The Afterpay or Cash App Pay on-file grant ID. Required when processing a payment using a previously stored on-file grant.
      required:
      - token
      title: AuthorizePayment
    V2PaymentsOrderIdPutResponsesContentApplicationJsonSchemaOrderDetails:
      type: object
      properties: {}
      description: The order bound to the payment. See Order Details.
      title: V2PaymentsOrderIdPutResponsesContentApplicationJsonSchemaOrderDetails
    Consumer:
      type: object
      properties:
        email:
          type: string
          format: email
        givenNames:
          type: string
          description: The consumer's first name
        surname:
          type: string
          description: The consumer's last name
        phoneNumber:
          type: string
      required:
      - email
      description: The consumer data model is used for gathering essential user information. It captures details such as the individual's first name, represented by `givenNames`, and their last name, captured under `surname`. In addition, it stores the user's contact number under `phoneNumber` and their email address under `email`. These fields collectively provide contact and identification details for a user.
      title: Consumer
    Item:
      type: object
      properties:
        name:
          type: string
        sku:
          type: string
        pageUrl:
          type: string
        imageUrl:
          type: string
        quantity:
          type: integer
        price:
          $ref: '#/components/schemas/Money'
        categories:
          type: array
          items:
            type: array
            items:
              type: string
        estimatedShipmentDate:
          type: string
          format: date
        preorder:
          type: boolean
          default: false
      required:
      - name
      - quantity
      - price
      description: "This data model is used to store crucial product details. The `price.amount` field represents the unit price of the individual item. The `quantity` field shows the number of units of the item. The `name` field denotes the name of the product, while `sku` holds the Stock Keeping Unit identifier. 100 is the maximum number of item objects in the items array.\n<Warning Title=\"Important Note\">\n  It is crucial that the `price.amount` represents the unit price of the individual item.\n  **Never** populate the `price.amount` by multiplying the quantity by the unit cost. Always enter the price for a single unit to maintain data accuracy.\n</Warning>\n"
      title: Item
    V2PaymentsOrderIdPutResponsesContentApplicationJsonSchemaOpenToCaptureAmount:
      type: object
      properties: {}
      description: Total amount that can be captured for order. See Money.
      title: V2PaymentsOrderIdPutResponsesContentApplicationJsonSchemaOpenToCaptureAmount
    PaymentAuth:
      type: object
      properties:
        id:
          type: string
          description: The unique, permanent, Afterpay generated Order ID.
        token:
          type: string
          description: The token obtained from the checkout call
        status:
          $ref: '#/components/schemas/PaymentAuthStatus'
          description: represents the status of the order
        created:
          type: string
          description: ' is the UTC timestamp of when the payment was completed.'
        originalAmount:
          $ref: '#/components/schemas/Money'
        openToCaptureAmount:
          $ref: '#/components/schemas/Money'
        paymentState:
          $ref: '#/components/schemas/PaymentAuthPaymentState'
          description: is the current state for capturing payments
        merchantReference:
          type: string
          description: is the merchant's order id/reference that the payment corresponds to.
        refunds:
          type: array
          items:
            $ref: '#/components/schemas/Refund'
        orderDetails:
          $ref: '#/components/schemas/Order-Details'
        events:
          type: array
          items:
            $ref: '#/components/schemas/Payment-Event'
      description: Describes the schema for a (read-only) payment object
      title: PaymentAuth
    V2PaymentsOrderIdPutResponsesContentApplicationJsonSchemaOriginalAmount:
      type: object
      properties: {}
      description: Total amount for the order. See Money.
      title: V2PaymentsOrderIdPutResponsesContentApplicationJsonSchemaOriginalAmount
    PaymentEventType:
      type: string
      enum:
      - AUTH_APPROVED
      - AUTH_DECLINED
      - CAPTURED
      - CAPTURE_DECLINED
      - VOIDED
      - EXPIRED
      title: PaymentEventType
    PaymentAuthStatus:
      type: string
      enum:
      - APPROVED
      - DECLINED
      description: represents the status of the order
      title: PaymentAuthStatus
    PaymentPaymentState:
      type: string
      enum:
      - AUTH_APPROVED
      - AUTH_DECLINED
      - PARTIALLY_CAPTURED
      - CAPTURED
      - CAPTURE_DECLINED
      - VOIDED
      description: is the current state for capturing payments
      title: PaymentPaymentState
    PaymentStatus_2:
      type: string
      enum:
      - APPROVED
      - DECLINED
      description: represents the status of the order
      title: PaymentStatus
    Payment-Event:
      type: object
      properties:
        id:
          type: string
        created:
          type: string
        expires:
          type: string
        type:
          $ref: '#/components/schemas/PaymentEventType'
        amount:
          $ref: '#/components/schemas/Money'
        paymentEventMerchantReference:
          type: string
      description: Each payment event has a unique ID, creation timestamp, and type (e.g., "AUTH_APPROVED", "AUTH_DECLINED"). For "AUTH_APPROVED" events, an expiration timestamp is provided. The "payment event merchant reference" field, which can be used for payment capture events
      title: Payment-Event
    Enrichments:
      type: object
      properties:
        initiation:
          $ref: '#/components/schemas/Initiation'
          description: Who initiated the order
        subscription:
          $ref: '#/components/schemas/Subscription'
          description: Metadata on the subscription details
      required:
      - initiation
      title: Enrichments
    Money:
      type: object
      properties:
        amount:
          type: string
          description: The amount as a string representation of a decimal number, rounded to 2 decimal places.
        currency:
          $ref: '#/components/schemas/MoneyCurrency'
      required:
      - amount
      - currency
      description: Object containing amount and currency
      title: Money
    update-payment-by-order-id_Response_201:
      type: object
      properties:
        id:
          type: string
          description: The unique Afterpay (merchant payment) payment ID.
        token:
          type: string
          description: Checkout token to be used to complete customer checkout and payment.
        status:
          type: string
          description: \"APPROVED" (update is only valid for successful orders)
        created:
          description: The payment creation time [ISO 8601 UTC/Zulu time](https://www.iso.org/iso-8601-date-and-time-format.html).
        originalAmount:
          $ref: '#/components/schemas/V2PaymentsOrderIdPutResponsesContentApplicationJsonSchemaOriginalAmount'
          description: Total amount for the order. See Money.
        openToCaptureAmount:
          $ref: '#/components/schemas/V2PaymentsOrderIdPutResponsesContentApplicationJsonSchemaOpenToCaptureAmount'
          description: Total amount that can be captured for order. See Money.
        paymentState:
          type: string
          description: 'Available states: "AUTH_APPROVED", "CAPTURED", "VOIDED", "EXPIRED", "AUTH_DECLINED", "PARTIALLY_CAPTURED", "CAPTURE_DECLINED""'
        merchantReference:
          description: Any type
        refunds:
          $ref: '#/components/schemas/V2PaymentsOrderIdPutResponsesContentApplicationJsonSchemaRefunds'
          description: The refund details for merchant's order. See Refund.
        orderDetails:
          $ref: '#/components/schemas/V2PaymentsOrderIdPutResponsesContentApplicationJsonSchemaOrderDetails'
          description: The order bound to the payment. See Order Details.
        events:
          $ref: '#/components/schemas/V2PaymentsOrderIdPutResponsesContentApplicationJsonSchemaEvents'
          description: Event list for for merchant's order. See Events.
      title: update-payment-by-order-id_Response_201
    SubscriptionInterval:
      type: string
      enum:
      - DAY
      - WEEK
      - MONTH
      - YEAR
      title: SubscriptionInterval
    V2PaymentsOrderIdPutResponsesContentApplicationJsonSchemaEvents:
      type: object
      properties: {}
      description: Event list for for merchant's order. See Events.
      title: V2PaymentsOrderIdPutResponsesContentApplicationJsonSchemaEvents
    Payment_2:
      type: object
      properties:
        id:
          type: string
          description: The unique, permanent, Afterpay generated Order ID.
        token:
          type: string
          description: The token obtained from the checkout call
        status:
          $ref: '#/components/schemas/PaymentStatus_2'
          description: represents the status of the order
        created:
          type: string
          description: ' is the UTC timestamp of when the payment was completed.'
        originalAmount:
          $ref: '#/components/schemas/Money'
        openToCaptureAmount:
          $ref: '#/components/schemas/Money'
        paymentState:
          $ref: '#/components/schemas/PaymentPaymentState'
          description: is the current state for capturing payments
        merchantReference:
          type: string
          description: is the merchant's order id/reference that the payment corresponds to.
        refunds:
          type: array
          items:
            $ref: '#/components/schemas/Refund'
        orderDetails:
          $ref: '#/components/schemas/Order-Details'
        events:
          type: array
          items:
            $ref: '#/components/schemas/Payment-Event'
      description: Describes the schema for a (read-only) payment object
      title: Payment
    Subscription:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SubscriptionType'
        interval:
          $ref: '#/components/schemas/SubscriptionInterval'
        intervalCount:
          type: integer
      title: Subscription
    V2PaymentsOrderIdCourierPutParametersAccept:
      type: string
      enum:
      - application/json
      title: V2PaymentsOrderIdCourierPutParametersAccept
    ShippingCourierPriority:
      type: string
      enum:
      - STANDARD
      - EXPRESS
      title: ShippingCourierPriority
    InitiationActor:
      type: string
      enum:
      - CUSTOMER
      - MERCHANT
      description: The party who initiated the order
      title: InitiationActor
    V2PaymentsOrderIdPutResponsesContentApplicationJsonSchemaRefunds:
      type: object
      properties: {}
      description: The refund details for merchant's order. See Refund.
      title: V2PaymentsOrderIdPutResponsesContentApplicationJsonSchemaRefunds
  securitySchemes:
    sec0:
      type: http
      scheme: basic
x-refined-from:
- cash-app-network-api-openapi.json
- cash-app-payments-openapi.json
